@media screen and (max-width: 1500px) { .column .column .column { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; } }
@media screen and (max-width: 1300px) { .column .column { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; } }
@media screen and (max-width: 1100px) { .column { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; } }
