$primary:			#00A3D9;
$black:				#343E43;
$white:				#FFFFFF;

$dark_grey:			#596A73;
$darker_grey:		#455358;
$off_white:			#F4F4F4;
$darker_off_white:	#EAEAEA;
$grey:				#CCCCCC;
$grey2:				#AAAAAA;
$light_grey:		#DDDDDD;
$lighter_grey:		#EEEEEE;
$tab_grey:			#E5E5E5;

$red:				#D9534F;
$orange:			#F0AD4E;
$green:				#00B285;
$dark_green:		#008C8C;
$blue:				#0085B2;
$light_blue:		#00A3D9;
$dark_blue:			#00698C;
$darker_blue:		#0F547D;

$font:				'Calibri, Arial';
$icons:				'FontAwesome';
$rounded-corner: 	2px;

$defaultColor: black white grey;
$color2:       blue green brown;
$color3:       red white blue;